@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  --primary-color: #8a2be2; /* сиреневый */
  --secondary-color: #ffffff; /* белый */
  --text-color: #333333; /* черный */
  --link-color: #8a2be2; /* сиреневый */
  --background-color: #f0f2f5; /* фоновый цвет */
}

h1,
h2 {
  font-family: 'Comfortaa', sans-serif;
  line-height: 1.7em;
  font-weight: 400;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.35em;
  font-size: 35px;
  font-weight: 400;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 1.5em;
  font-weight: 400;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
nav {
  background: #004F44;
  .container-fluid{
    max-width: 1300px;
    justify-content: space-between;
  }
}
.navbar-nav {
  a {
    color: white;
  }
}

.hero-section {
  background: #004F44;
  .container-fluid {
    max-width: 1300px;
    padding: 0 30px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    //text-align: center;
    color: white;
  }
  a {
    font-family: 'Comfortaa', sans-serif;
    color: #004F44;
  }
  img {
    border-radius: 8px;
    max-width: 700px;
  }
}

.left-side {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-family: 'Playfair', serif;
  h1 {
    max-width: 500px;
  }
  a {
    margin-top: 50px;
  }
}
main {
  p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 1.9em;
  }
  article {
    max-width: 780px;
  }
}

.highlight {
  background-color: pink;
  color: black;
  padding: 5px;
  border-radius: 3px;
}
.footer-rights-image {
  background: url('/images/footerThreads2.jpg') center center / cover no-repeat;
}
.footer {
  background-color: #f7f7f7;
  padding-bottom: 30px;

  p {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
  }

}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.875em;
    font-size: 15px;
  }
}
