@import '../../assets/scss/themes/fonts';
@import '../../assets/scss/themes/mixins';
@import '../../assets/scss/themes/colors';

.card {
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
}

.cardImage {
  width: 100%;
  height: auto;
}

.cardBody {
  padding: 16px;
  text-align: center;
}

.cardTitle {
  @include text-style(var(--font-secondary),1.5rem, 1.5em);
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.cardText {
  @include text-style(var(--font-secondary),1.2rem, 1.5em);
  color: var(--text-primary);
  margin-bottom: 16px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.primaryButton {
  background-color: var(--text-primary);
  @include text-style(var(--font-secondary),1rem, 1.5em);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--btn-hower);
    border: 1px;
  }
}

.secondaryButton {
  background-color: var(--btn-secondary);
  @include text-style(var(--font-secondary),1rem, 1.5em);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #5a6268;
  }
}
