.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 3em 1em;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  @media (max-width: 767.98px) {
    margin: 0 1em;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5em;
}

.row {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  flex-wrap: wrap;
  gap: 1em;
}
